<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>QuimiHelp</title>
    <%- include ('partials/head.html') %>
</head>

<body>
    <header>
        <%- include ('partials/navigation.html') %>
    </header>
    <div class="qh_cont_banner">
        <div class="quim_sombra">
            <h1>QuimiHelp</h1>
            <p>Clases de quimica</p>
            <hr/>
            <div class="quim_cont_banner_link">
                <a class="quim_banner_link" href="/">Inicio</a>
                <a class="quim_banner_link_1" href="/clases">Clases</a>
                <a class="quim_banner_link_2" href="/contact">Contacto</a>

            </div>
        </div>
    </div>

    <section id="conten">
        <div class="container">
            <div class="row quim_cont_sec_1">
                <div class="col-md-9">
                    <h2><b>Bienvenido</b></h2>
                    <p><i>Una opcion para conocer el mundo de la quimica</i></p>
                    <hr/>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit nulla dolorem nisi!</p>
                </div>
                <div class="quim_cont_sec_link col-md-3 text-center">
                    <a href="#" class="btn btn-outline-light btn-lg">Inscribete ya!</a>
                </div>

            </div>
        </div>
    </section>
    <section id="loro">
        <div class="background-overlay text-white py-5">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 text-center justfy-content-center align-self-center" class="container" id="contenedor2">
                        <h1>Clases de quimica via Skype</h1>
                        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Repellendus suscipit exercitationem maiores quaerat saepe a
                        </p>
                        <a href="/clases" class="btn btn-outline-secondary btn-md text-white">
                    Mas informacion
                  </a>
                    </div>
                    <div class="col-md-6">
                        <img src="static/img/Quimica.jpg" alt="imagen clase" class="img-fluid d-none d-sm-block animated bounceIn	" id="image1">
                    </div>
                </div>
            </div>
        </div>
    </section>
    <%- include ('partials/foter.html') %>
        <%- include ('partials/scripts.html') %>
</body>

</html>