<nav class="quim_navbar navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
        <a class="navbar-brand" href="/">
            <img src="/static/img/logo.png" alt="" width="50px" height="50px" class="d-inline-block">
            <h2 class="d-inline-block" id="titulotex">QuimiHelp </h2>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
         <i class="navbar-toggler-icon" id="icon"></i>
      </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="quim_nav navbar-nav ml-auto">

                <li class="nav-item active">
                    <a class="nav-link" href="/"><i class="fas fa-home"></i>INICIO</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/clases"><i class="fas fa-pencil-ruler"></i>CLASES</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/contacto"><i class="fas fa-envelope"></i>CONTACTO</a>
                </li>
            </ul>
        </div>
</nav>